<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>StrikeTrack needs camera access to scan Battery Beak readings.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>StrikeTrack needs photo library access to import Battery Beak screenshots.</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>AccentColor</string>
		<key>UIImageName</key>
		<string></string>
	</dict>
</dict>
</plist>
